/* Mixins */

/* Buttons */
@mixin btn-primary {
    box-shadow: 1px 2px 6px rgba($primary, 0.35);
    &:hover, &:focus {
        background-color: lighten($primary, 12%);
        border-color: lighten($primary, 12%);
        box-shadow: 1px 1px 3px rgba($primary, 0.35);
    }
}

@mixin btn-secondary {
    box-shadow: 1px 2px 6px rgba($secondary, 0.35);
    &:hover, &:focus {
        background-color: lighten($secondary, 4%);
        border-color: lighten($secondary, 4%);
        box-shadow: 1px 1px 3px rgba($secondary, 0.35);
    }
}

@mixin back-btn {
    color: $cool-gray;
    font-weight: 700;
    background: none;
    padding: 6px 20px;
    outline: none;
    border: none;
    &:hover, &:focus {
        color: $primary;
        font-weight: bold;
        border: none;
    }
}