/* Variables */

/* Colors */
$primary: hsl(213, 96%, 18%);
$secondary: hsl(243, 100%, 62%);
$light: hsl(206, 94%, 87%);
$light-blue: hsl(228, 100%, 84%);
$pastel-red: hsl(354, 84%, 57%);

$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$alabaster: hsl(231, 100%, 99%);
$white: hsl(0, 0%, 100%);

/* Fonts */
$main-font: "Ubuntu", sans-serif;

/* Radius */
$btn-border-radius: 6px;

/* Components */
$form-check-input-checked-bg-color: $primary;
$card-border-color: $white;